@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

#comment {
	border-bottom: 1px gray solid;
}

#delete {
	margin: 1px;
	float: right;
	color: red;
}

.name {
	color: gray;
}

.vote {
	padding: .5em;
}

.commentBody {
	font-size: 110%;
}

label {
	font-size: 110%;
	margin-right: 1em;
}

button {
	background-color: gray;
	border: none;
	border-radius: 5px;
	color: white;
}

.form {
	border-radius: 5px;
	border-color: gray;
}
.invalid {
	border: 1px solid red;
}

#comment {
	width: 70%;
}